@include media-breakpoint-down(md) {
    body{
        font-size: 14px;
    }
}

/* icons */
[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;font-size: 0;line-height: 1;}

.icon-logo{background-image: url('../images/ic-logo.svg');width: 124px;height: 20px;background-position: 0 0;}
.icon-close{background-image: url('../images/ic-close-white.svg');width: 30px;height: 30px;}
.icon-arrow-down{background-image: url('../images/ic-arrow-down.svg');width: 10.5px;height: 7.2px;vertical-align: top;}

.text-underline{text-decoration: underline;}
a.text-underline:hover{text-decoration: underline;}

.table-fixed{table-layout: fixed;}

.form-group{
    label.mb-0{line-height: 1.2;}
}

[data-event="datepicker"]{
    background-image: url('../images/icon-calendar.svg');background-repeat: no-repeat;background-position: right .75rem top 50%;background-size: 14px auto;
}

select.form-control{
    padding-top: 5px;
    -webkit-appearance: none;-moz-appearance: none;
    background-position: right 13px top 50%;
    background-repeat: no-repeat;
    background-image: url('../images/select.svg');
    padding-right: 35px;
}

.form-control-wrap{
    position: relative;
    > .form-control + a{
        display: block;font-size: 0;
    }
    i{font-size: 18px;color: #666;position: absolute;top: 50%;right: 1rem;margin-top: -9px;}
}

/* .col-form-label{
    font-size: 16px;font-weight: 500;line-height: 1.1;letter-spacing: -0.32px;
    .row.align-items-center > &{padding-top: 0;padding-bottom: 0;}
} */

.custom-checkbox{
    &.has-no-label{
        padding-left: 0;min-height: 1rem;height: 1rem;width: 1rem;display: inline-block;vertical-align: middle;
        .custom-control-label{width: 1rem;height: 1rem;}
        .custom-control-label::before,
        .custom-control-label::after{top: 0;left: 0;}
    }
}

.brand-logo-mobile{
    display: block;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);line-height: 1;
    i{vertical-align: top;}
}

.btn{
    &.min-width{min-width: 90px;}
    .material-icons{vertical-align: middle;font-size: 18px;transform: translateY(-1px);}
    .fa, .far, .fas{margin-right: 3px;}
}
.btn-lg{
    &.min-width{min-width: 110px;}
    .material-icons{font-size: 22px;}
}
.btn-gray,
.btn-outline-gray{
    border-color: #505c7e;
}

@include media-breakpoint-down(md) {
    .btn{
        &.min-width{min-width: 70px;padding-left: .45rem;padding-right: .45rem;}
    }
}

.btn-top{
    position: fixed;right: -60px;bottom: 20px;z-index: 1;transition: all .2s ease-in-out;
    button{display: block;width: 36px;height: 36px;background: $primary;border-radius: 4px;border: 0;position: relative;}
    i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
    html.is-scrolled &{right: 20px;transition-delay: .4s;}
    &.moveup{bottom: 30px;transition-delay: 0s;}
}
@include media-breakpoint-down(md) {
    .btn-top{
        bottom: 15px;
        button{width: 30px;height: 30px;}
        html.is-scrolled &{right: 15px;}
    }
}

.text-transparent{color: transparent;opacity: 0;}

.hr{height: 1px;background: rgba(150,150,150,0.5); margin: 1rem 0;}

.sub-title-area{display: flex;align-items: center;justify-content: space-between;margin-bottom: 11px;min-height: 30px;}
.sub-title{font-size: 20px;font-weight: 500;letter-spacing: -0.4px;margin-bottom: 0;line-height: 1.4;}
@include media-breakpoint-down(md) {
    .sub-title-area{margin-bottom: 7px;min-height: 24px;}
    .sub-title{font-size: 16px;}
}

.access-info{color: #7a7c8a;}

/* [data-widget="pushmenu"]{
    display: block;background: #1d1f2d;
    i{color: #696c79;vertical-align: top;}
    i:hover{color: #fff;}
} */

[class^=role-]{
    display: inline-block;border-radius: 50rem;font-weight: 700;color: #fff;padding: 0 13px;font-size: 13px;
}
.role-admin{background: #00a3e6;}
.role-user{background: #7b00e6;}
.role-op{background: #ffbd23;}
.role-monitoring{background: #10e600;}

//select
.ui-selectmenu-button.ui-button{
    background: #fff !important;border: 1px solid $border-color;border-radius: 0;outline: 0;width: 100%;height: 38px;padding: 10px .75rem 0;margin: 0;
    .ui-icon{transition: all .3s .05s;background: url('../images/select.svg') no-repeat 50% 50%;width: 8px;height: 5px;position: absolute;right: 13px;top: 50%;margin-top: -2.5px;}
    &[aria-expanded="true"]{
        .ui-icon{transform: rotate(180deg);}
    }
    .select-sm + &{
        width: 200px;
    }
    .select-lg + &{
        width: 300px;height: 65px;padding: 22px 30px 0;box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);border-color: #eee;
        .ui-icon{background: url('../images/select-lg.svg') no-repeat 50% 50%;width: 15px;height: 10px;right: 30px;margin-top: -5px;}
        .ui-selectmenu-text{font-size: 18px;}
    }
}
.ui-selectmenu-menu{
    z-index: 1052;margin-top: -1px;
    .ui-menu{
        max-height: 300px;border-radius: 0;border-color: $border-color;margin-top: -1px;padding-bottom: 0;
        .ui-menu-item + .ui-menu-item{border-top: 1px solid $border-color;}
        .ui-menu-item-wrapper{height: 39px;padding: 8px 15px 0;border: 0;}
        .ui-state-active{background: #888;border: 0;margin: 0;}
    }
    .ui-menu.select-lg{
        .ui-menu-item-wrapper{height: 64px;padding: 20px 30px 0;font-size: 18px;}
    }
}

@include media-breakpoint-down(md) {
    .main-sidebar,
    .main-sidebar::before{width: 100vw;}
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .main-sidebar::before{margin-left: -100vw;}

    :not(.layout-fixed) .main-sidebar{height: 100%;}
    .sidebar{
        position: relative;height: calc(100vh - 60px);padding: 0;
        > nav{height: 100%;}
        &::before{content: '';display: block;width: 50%;height: 100%;position: absolute;left: 50%;top: 0;}
    }
    .nav-sidebar {
        height: 100%;margin: 0;
        &::before{content: '';width: 50%;height: 100%;background: $dark;position: absolute;right: 0;top: 0;}
        > .nav-item.has-treeview{width: 50%;}
        > .nav-item{
            > .nav-treeview{position: absolute;left: 50%;top: 0;bottom: 0;width: 50%;transition:none;padding-top: 15px;}
        }
        > .nav-item .nav-icon{
            font-size: 1rem;margin-left: 0;margin-right: 3px;width: 1rem;
        }
        > .nav-item > .nav-link{
            padding-top: 1rem;padding-bottom: 1rem;
            > p{font-size: 15px;}
        }
        .menu-open > .nav-link i.right{
            transform: rotate(-90deg);
        }
        > .nav-item > ul > .nav-item > .nav-link{
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 14px;
            &::before{display: none;}
            > p{line-height: 1.5;}
        }
    }
    .sidebar-open{overflow: hidden;}


    .sidebar-top-mobile{
        height: 60px;position: relative;
        .brand-logo-mobile{left: 1rem;transform: translate(0, -50%);}
        .sidebar-close{
            position: absolute;right: 1rem;top: 50%;transform: translateY(-50%);color: #fff;
            i{font-size: 30px;vertical-align: top;}
        }
    }
}

.dropdown-item:not(a).active,
.dropdown-item:not(a):active{
    background-color: inherit;color: inherit;
}

.navbar-nav{
    [data-widget="pushmenu"]{
        display: block;
        i{vertical-align: middle;}
    }
    &.ml-auto{
        .nav-item{margin-left: 1.75rem;}
        .nav-link{padding-left: 0 !important;padding-right: 0 !important;}
    }
}
@include media-breakpoint-down(md) {
    .main-header{
        padding-left: 1rem;padding-right: 1rem;height: 60px;
    }
    [data-widget="pushmenu"]{
        display: block;
        i{vertical-align: top;}
    }
    .navbar-nav{
        &.ml-auto{
            .nav-item{margin-left: .75rem;}
            .nav-link{padding-left: 0 !important;padding-right: 0 !important;}
        }
    }
}

.nav-my{
    > .nav-link{
        color: #fff;
        i{color: #fff;}
        .name{font-weight: 500;text-decoration: underline;margin-left: 5px;}
    }
    .dropdown-divider{margin: 0;}
    .dropdown-menu{
        padding: 0;
        i{font-size: 16px;vertical-align: middle;margin-right: 5px;transform: translateY(-1px);}
    }
}
@include media-breakpoint-down(md) {
    .nav-my{
        .name{font-weight: 500;margin-left: 3px;}
    }
}

.nav-noti{
    > .nav-link{
        i{color: #fff;}
    }
    .dropdown-menu{
        overflow: hidden;
        .dropdown-item{display: flex;}
        .text{@include text-truncate();}
        .text-sm{flex: 0 0 auto;color: #888;font-size: 95%;padding-left: 8px ;}
    }
    .circle{
        display: block;width: 8px;height: 8px;border-radius: 50%;background: #ff0000;border: 1px solid $navy;position: absolute;right: 5px;top: 9px;
    }
}
@include media-breakpoint-down(md) {
    .nav-noti{
        .dropdown-menu{
            max-width: 85vw;min-width: auto;
        }
    }
}

.container,
.container-fluid{padding-left: 1.25rem;padding-right: 1.25rem;}
@include media-breakpoint-down(md) {
    .content-wrapper{
        > .content-header{padding-left: 1rem;padding-right: 1rem;}
        > .content{padding-left: 0;padding-right: 0;}
    }
    .container,
    .container-fluid{padding-left: 1rem;padding-right: 1rem;}
}

.breadcrumb{
    margin: 0;background: transparent;
    .breadcrumb-item{color: #fff;font-size: 18px;font-weight: 700;}
    .breadcrumb-item + .breadcrumb-item::before{content: '\f054';color: inherit;font-family: 'Font Awesome 5 Free';font-weight: 900;}
}
@include media-breakpoint-down(md) {
    .breadcrumb{
        .breadcrumb-item{font-size: 16px;}
    }
}

.body-login {
    width: 100%;
    height: 100%;
    background: $dark;
}

html.html-login{
    height: 100% !important;
}
.login-wrap{
    display: flex;justify-content: center;align-items: center;min-height: 100%;overflow: auto;padding: 1.5rem 0;
}
.login-logo{
    margin-right: 200px;
    .logo{margin-bottom: 30px;}
    .icon-logo{vertical-align: top;width: 300px;height: 50px;}
    p{color: #babcca;text-align: center;}
}
.login-box{
    width:560px;padding:70px 80px;background: #fff;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);position: relative;z-index: 1;
}
.login-form-top{
    margin-bottom: 45px;
    h1{font-weight: 700;line-height: 1;font-size: 30px;}
    p{color: #666;margin-top: 5px;}
}
.new-user{border-top: 1px solid #ddd;margin-top: 2rem;padding-top: 1.5rem;}

@include media-breakpoint-down(lg) {
    .login-logo{margin-right: 80px;}
    .login-box{width: 500px;padding: 60px;}
}
@include media-breakpoint-down(md) {
    .login-wrap{-ms-flex-direction: column;flex-direction: column;}
    .login-logo{
        margin-right: 0;text-align: center;
        .icon-logo{width: 210px;height: 36px;}
        p{display: none;}
    }
    .login-form-top{
        margin-bottom: 25px;
        h1{font-size: 20px;}
        p{display: none;}
    }
    .login-form{
        .form-control-lg{height: 38px;}
    }
    .login-box{margin: 0 1rem;max-width: 360px;width: auto;padding: 30px 20px;}
    .new-user{margin-top: 1.25rem;padding-top: 1rem;
        p{font-size: 13px;}
    }
}

.popup-wrap{min-height: 100vh;}
.popup-header{
    background: $dark;position: relative;padding: 1.25rem 1.5rem;height: 65px;
}
.popup-body{
    height: calc(100vh - 65px);padding: 1.5rem;
}
.popup-close{
    position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);line-height: 1;
    .icon-close{vertical-align: top;width: 18px;height: 18px;}
}
.popup-title{
    color: #fff;font-size: 20px;font-weight: 700;margin-bottom: 0;
}

.table-title{font-weight: 700;font-size: 108%;margin-bottom: .75rem;}

.btn-move-group{
    display: flex;align-items: center;height: 100%;
    padding: 0 1rem;padding-top: 80px;
}

.table{
    font-size: 12px;
    thead{
        th{font-weight: 500;}
    }
}

.ui-jqgrid{
    .ui-jqgrid-htable th{background: #314fa8;color: #fff;}
    .ui-jqgrid-hbox{background-color: #314fa8;}
    .ui-widget-content{border-top: 0;}
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default{background: transparent;color: inherit;}
}

div.table-dark{border: 0;}
.table-dark{
    th,
    td{vertical-align: middle !important;}
    thead th{background: #314fa8;border-color: #314fa8;color: #fff;}
    .ui-jqgrid{
        background: transparent;border-radius: 0;border: 0;
        .ui-widget-content{color: #fff;border: 0;}
        .ui-jqgrid-hdiv{border: 0;}
        .ui-jqgrid-htable th{border: 0;}
        tr.jqgrow{
            background: transparent;border-left: 0;
            td{border: 0;}
            &.ui-priority-secondary{opacity: 1;background-color: $table-dark-accent-bg;}
            &.ui-state-highlight {opacity: 1;background-color: rgba($warning, 0.6);}
        }
        tr.jqgfirstrow td{border: 0;}
    }
    &.table-bordered{
        th,
        td{border: 1px solid #666;}
        thead th{border: 1px solid #888;}
        .ui-jqgrid{
            .ui-jqgrid-htable th{border: 1px solid #888;border-bottom: 0;}
            .ui-widget-content{border: 1px solid #666;}
            tr.jqgrow{
                td{border: 1px solid #666;}
            }
        }
    }
}

div.table-light{border: 0;}
.table-light{
    th,
    td{color: $dark;vertical-align: middle !important;}
    thead th{background: #3d3f50;color: #fff;border-color: #d2d2d2;border-top: 0;}
    tbody th,
    tbody td{border: 0;border-bottom: 1px solid #d2d2d2;}
    .ui-jqgrid{
        background: transparent;border-radius: 0;border: 0;
        .ui-widget-content{color: $dark;}
        .ui-jqgrid-hdiv{border: 0;}
        .ui-jqgrid-htable th{border: 0;}
        tr.jqgrow{
            background: transparent;
            td{border: 0;border-bottom: 1px solid #d2d2d2;}
            &.ui-priority-secondary{opacity: 1;background-color: $table-accent-bg;}
            &.ui-state-highlight {opacity: 1;background-color: rgba($warning, 0.6);}
        }
        tr.jqgfirstrow td{border: 0;}
    }
    &.table-bordered{
        th,
        td{border: 1px solid #d2d2d2;}
        thead th{border: 1px solid #888;}
        .ui-jqgrid{
            .ui-jqgrid-htable th{border: 1px solid #888;border-bottom: 0;}
            .ui-widget-content{border: 1px solid #d2d2d2;}
            tr.jqgrow{
                td{border: 1px solid #d2d2d2;}
            }
        }
    }
}

.status{
    margin-bottom: 1rem;
    .box{font-size: 18px;font-weight: 700;line-height: 1.3;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;padding: 1.5rem .5rem;background: $navy;border-radius: 3px;letter-spacing: -0.05em;word-break: break-all;height: 100%;}
}
@include media-breakpoint-down(lg) {
    .status{
        .box{font-size: 14px;padding: .75rem .25rem;}
        .row{margin: -5px;}
        [class^=col]{padding: 5px;}
    }
}

.tab-swiper{
    margin-bottom: 1.5rem;
    .swiper-container{border-bottom: 1px solid #e5c22b;}
    .swiper-slide{width: auto !important;height: auto !important;}
    .item{
        padding: .75rem 1.5rem;display: block;color: #fff;font-weight: 500;position: relative;transition: all .15s;
        &:hover{text-decoration: none;}
        &.active{background: #e5c22b;color: #000;
            &:hover{background: #e5c22b;color: #000;}
        }
    }
    /* swiper 실행 전 */
    .swiper-container:not(.swiper-container-initialized){
        .swiper-wrapper{-ms-flex-wrap: wrap;flex-wrap: wrap;}
        .item{
            &:hover{background: $dark;}
            &.active{
                &:hover{background: #e5c22b;color: #000;}
            }
        }
    }
}
@include media-breakpoint-between(md,lg) {
    .swiper-container:not(.swiper-container-initialized){
        .swiper-slide{flex: 1 0 auto;}
        .item{
            padding-left: .5rem;padding-right: .5rem;
        }
    }
}
@include media-breakpoint-down(md) {
    .tab-swiper{
        margin-left: -1rem;margin-right: -1rem;
        .swiper-container-initialized{}
        .item{
            padding: .5rem 1rem;
        }
    }
}

.chart-canvas{
    border: 1px solid transparent;padding: 1rem;height: 300px;margin-bottom: 1rem;
    .popup-body &{border: 1px solid #d2d2d2;}
}
@include media-breakpoint-down(md) {
    .chart-canvas{
        height: 240px;
    }
}

.card-navy{
    overflow: hidden;background: $navy;
    .card-header{border-bottom: 0;}
    .card-body{background: $navy;}
    .form-control{border-color: $navy;}
}
@include media-breakpoint-down(md) {
    .card-header{padding-left: 1rem;padding-right: 1rem;}
    .card-body{padding: 1rem;}
}

.title{margin-bottom: 0;font-size: 1rem;line-height: 35px;}
@include media-breakpoint-down(md) {
    .title{font-size: 15px;}
}

.tab-title{font-size: 18px;font-weight: 700;margin-bottom: 1rem;}
@include media-breakpoint-down(md) {
    .tab-title{font-size: 15px;}
}

.inquiry-area{
    background: rgba(224, 224, 224, 0.07);padding: 1rem;margin-bottom: 1rem;position: relative;
    label{font-weight: 500;}
    .form-control{border-color: #223775;}
    .form-inline > .d-sm-flex{width: 100%;}
    .btn-form-search{margin: .25rem 0;width: 100%;}
    .body-popup &{
        background: #f4f5f8;
        .form-control{border-color: $input-border-color;}
    }
}
@include media-breakpoint-down(sm) {
    .inquiry-area{
        padding: 1rem;
        .form-inline > .d-sm-flex{width: 100%;}
    }
}
@include media-breakpoint-up(sm) {
    .inquiry-area{
        padding: 1rem 115px 1rem 1rem;
        .form-inline > .d-sm-flex{width: auto;}
        .btn-form-search{position: absolute;right: 1rem;top: 50%;transform: translateY(-50%);width: auto;margin: 0;}
    }
}

.info-box{
    background: $navy;padding: 1.25rem;line-height: 1;display: flex;flex-direction: column;justify-content: center;height: 100%;
    .name{font-weight: 500;margin-bottom: 15px;}
    .fluctuations{
        padding-bottom: 2px;
        em{font-style: normal;font-size: 22px;font-weight: 700;vertical-align: middle;}
        i{font-size: 18px;vertical-align: middle;margin-left: 2px;}
    }
    strong{font-size: 40px;font-weight: 700;letter-spacing: -0.05em;}
}
@include media-breakpoint-down(md) {
    .info-box{
        padding: 1rem;
        .name{margin-bottom: 10px;}
        .fluctuations{
            em{font-size: 17px;}
        }
        strong{font-size: 26px;}
    }
}

.task-status-legend{
    text-align: right;
    span{vertical-align: middle;display: inline-block;}
    .circle{width: 8px;height: 8px;border-radius: 50%;margin-left: 4px;}
    .txt{font-size: 11px;}
}

.task-status{
    height: 100%;
    ul,li{list-style: none;}
    ul{display: flex;margin: -7px;padding: 0;-ms-flex-wrap: wrap;flex-wrap: wrap;height: 100%;}
    li{width: 25%;text-align: center;padding: 7px;}
    a{
        display: flex;align-items: center;justify-content: center; background: #3d3f50;font-size: 15px;font-weight: 700;padding: .75rem .25rem;text-decoration: none;height: 100%;line-height: 1.2;
        &:hover{background: rgba(255, 255, 255, 0.15);}
    }
    &.task-status-sm{
        ul{margin: -3px;}
        li{padding: 3px;}
        a{font-size: 12px;padding: .2rem .1rem;letter-spacing: -.05em;}
    }
}
@include media-breakpoint-down(lg) {
    .task-status{
        ul{margin: -3px;}
        li{padding: 3px;}
        a{font-size: 13px;letter-spacing: -0.06em;}
        &.task-status-sm{
            a{font-size: 12px;padding: .4rem .2rem;}
        }
    }
}

.card-header.bg-dark{background-color: #0b0e1e !important;}

.dashboard-row-first{
}
.dashboard-row{
    margin: -.5rem;
    > [class^=col]{padding: .5rem;}
}

.dashboard{
    .card{height: 100%;margin-bottom: 0;}
    .card-header{
        border-bottom: 0;padding-top: 2vh;padding-bottom: 2vh;position: relative;
        .btn-col-remove{
            font-size: 0;position: absolute;right: 1rem;top: 50%;transform: translateY(-50%);
            i{font-size: 20px;}
        }
    }
    .card-title{font-size: 14px;font-weight: 500;line-height: 1.3;}

    .card-sm{
        .card-header{padding-top: 1vh;padding-bottom: 1vh;}
        .card-title{font-size: 13px;}
        .table-dark{
            .text-left{padding-top: .2rem;padding-bottom: .2rem;}
        }
    }

    .table-dark{
        height: 100%;
        th, td{border: 0;color: #fff;}
        thead th{background: #3d3f50;}
        tbody td{border: 0;vertical-align: middle;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
        .text-truncate{display: inline-block;max-width:100%;text-align: center;}
    }
}

@include media-breakpoint-up(lg) {
    .dashboard{
        .card-header{
            .btn-col-remove{display: none;}
        }
    }
}
@include media-breakpoint-down(md) {
    .dashboard{
        .card-header{padding-right: 50px;}
        .is-hidden{
            display: none;
            .card{height: auto;}
            & ~ [data-role="dashboard-item"]{
                height: 100% !important;padding: 0 !important;
            }
        }
        .card-sm{
            .card-header{padding-top: 2vh;padding-bottom: 2vh;}
            .table-dark{
                .text-left{padding-top: 10px;padding-bottom: 10px;}
            }
        }
    }
}
