@include media-breakpoint-down(md) {
    body{
        font-size: 14px;
    }
}

/* icons */
[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;font-size: 0;line-height: 1;}

.icon-logo{background-image: url('../images/ic-logo.svg');width: 124px;height: 20px;}
.icon-logo-sm{background-image: url('../images/ic-logo.svg');width: 30.1px;height: 15.9px;}
.icon-close{background-image: url('../images/ic-close-white.svg');width: 30px;height: 30px;}
.icon-arrow-down{background-image: url('../images/ic-arrow-down.svg');width: 10.5px;height: 7.2px;vertical-align: top;}

.text-underline{text-decoration: underline;}
a.text-underline:hover{text-decoration: underline;}

select.form-control{
    letter-spacing: -0.34px;padding-top: 5px;
    -webkit-appearance: none;-moz-appearance: none;
    background-position: right 13px top 50%;
    background-repeat: no-repeat;
    background-image: url('../images/select.svg');
    padding-right: 40px;
}
@include media-breakpoint-down(md) {
    input.form-control{font-size: 14px;}
    select.form-control{font-size: 14px;}
}

.col-form-label{
    font-size: 16px;font-weight: 500;line-height: 1.1;letter-spacing: -0.32px;
    .row.align-items-center > &{padding-top: 0;padding-bottom: 0;}
}

.brand-logo-mobile{
    display: block;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);line-height: 1;
    i{vertical-align: top;}
}

.btn{
    .material-icons{vertical-align: middle;font-size: 18px;transform: translateY(-1px);}
}
.btn-lg{
    .material-icons{font-size: 22px;}
}

.btn-top{
    position: fixed;right: -60px;bottom: 20px;z-index: 1;transition: all .2s ease-in-out;
    button{display: block;width: 36px;height: 36px;background: $primary;border-radius: 4px;border: 0;position: relative;}
    i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
    html.is-scrolled &{right: 20px;transition-delay: .4s;}
    &.moveup{bottom: 30px;transition-delay: 0s;}
}
@include media-breakpoint-down(md) {
    .btn-top{
        bottom: 15px;
        button{width: 30px;height: 30px;}
        html.is-scrolled &{right: 15px;}
    }
}


.sub-title-area{display: flex;align-items: center;justify-content: space-between;margin-bottom: 11px;min-height: 30px;}
.sub-title{font-size: 20px;font-weight: 500;letter-spacing: -0.4px;margin-bottom: 0;line-height: 1.4;}
@include media-breakpoint-down(md) {
    .sub-title-area{margin-bottom: 7px;min-height: 24px;}
    .sub-title{font-size: 16px;}
}

.access-info{color: #7a7c8a;}

/* [data-widget="pushmenu"]{
    display: block;background: #1d1f2d;
    i{color: #696c79;vertical-align: top;}
    i:hover{color: #fff;}
} */

[class^=role-]{
    display: inline-block;border-radius: 50rem;font-weight: 700;color: #fff;padding: 0 13px;letter-spacing: -0.02em;
}
.role-admin{background: #00a3e6;}
.role-user{background: #7b00e6;}
.role-op{background: #ffbd23;}
.role-monitoring{background: #10e600;}

//select
.ui-selectmenu-button.ui-button{
    background: #fff !important;border: 1px solid $border-color;border-radius: 0;outline: 0;width: 100%;height: 38px;padding: 10px .75rem 0;margin: 0;
    .ui-icon{transition: all .3s .05s;background: url('../images/select.svg') no-repeat 50% 50%;width: 8px;height: 8px;position: absolute;right: 15px;top: 50%;margin-top: -4px;}
    &[aria-expanded="true"]{
        .ui-icon{transform: rotate(180deg);}
    }
    .select-sm + &{
        width: 200px;
    }
    .select-lg + &{
        width: 300px;height: 65px;padding: 22px 30px 0;box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);border-color: #eee;
        .ui-icon{background: url('../images/select-lg.svg') no-repeat 50% 50%;width: 15px;height: 10px;right: 30px;margin-top: -5px;}
        .ui-selectmenu-text{font-size: 18px;}
    }
}
.ui-selectmenu-menu{
    z-index: 1052;margin-top: -1px;
    .ui-menu{
        max-height: 300px;border-radius: 0;border-color: $border-color;margin-top: -1px;padding-bottom: 0;
        .ui-menu-item + .ui-menu-item{border-top: 1px solid $border-color;}
        .ui-menu-item-wrapper{height: 39px;padding: 8px 15px 0;border: 0;}
        .ui-state-active{background: #888;border: 0;margin: 0;}
    }
    .ui-menu.select-lg{
        .ui-menu-item-wrapper{height: 64px;padding: 20px 30px 0;font-size: 18px;}
    }
}

@include media-breakpoint-down(md) {
    .main-sidebar,
    .main-sidebar::before{width: 100vw;}
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .main-sidebar::before{margin-left: -100%;}

    :not(.layout-fixed) .main-sidebar{height: 100%;}
    .sidebar{
        position: relative;height: calc(100vh - 60px);padding: 0;
        > nav{height: 100%;}
        &::before{content: '';display: block;width: 50%;height: 100vh;position: absolute;left: 50%;top: 0;}
    }
    .nav-sidebar {
        height: 100%;margin: 0;
        > .nav-item.has-treeview{width: 50%;}
        > .nav-item{
            > .nav-treeview{position: absolute;left: 50%;top: 0;bottom: 0;width: 50%;transition:none;padding-top: 15px;}
        }
        > .nav-item .nav-icon{
            font-size: 1rem;margin-left: 0;margin-right: 3px;width: 1rem;
        }
        > .nav-item > .nav-link{
            padding-top: 1rem;padding-bottom: 1rem;
            > p{font-size: 15px;}
        }
        .menu-open > .nav-link i.right{
            transform: rotate(-90deg);
        }
        > .nav-item > ul > .nav-item > .nav-link{
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 14px;
            &::before{display: none;}
            > p{line-height: 1.5;}
        }
    }
    .sidebar-open{overflow: hidden;}


    .sidebar-top-mobile{
        height: 60px;position: relative;
        .brand-logo-mobile{left: 1rem;transform: translate(0, -50%);}
        .sidebar-close{
            position: absolute;right: 1rem;top: 50%;transform: translateY(-50%);color: #fff;
            i{font-size: 30px;vertical-align: top;}
        }
    }
}

.dropdown-item:not(a).active,
.dropdown-item:not(a):active{
    background-color: inherit;color: inherit;
}

.navbar-nav{
    &.ml-auto{
        .nav-item{margin-left: 1.75rem;}
        .nav-link{padding-left: 0 !important;padding-right: 0 !important;}
    }
}
@include media-breakpoint-down(md) {
    .main-header{
        padding-left: 1rem;padding-right: 1rem;height: 60px;
    }
    [data-widget="pushmenu"]{
        display: block;
        i{vertical-align: top;}
    }
    .navbar-nav{
        &.ml-auto{
            .nav-item{margin-left: .75rem;}
            .nav-link{padding-left: 0 !important;padding-right: 0 !important;}
        }
    }
}

.nav-my{
    > .nav-link{
        color: #fff;
        i{color: #fff;}
        .name{font-weight: 500;text-decoration: underline;margin-left: 5px;}
    }
    .dropdown-divider{margin: 0;}
    .dropdown-menu{
        i{font-size: 16px;vertical-align: middle;margin-right: 5px;transform: translateY(-1px);}
    }
}
@include media-breakpoint-down(md) {
    .nav-my{
        .name{font-weight: 500;margin-left: 3px;}
    }
}

.nav-noti{
    > .nav-link{
        i{color: #fff;}
    }
    .dropdown-menu{
        overflow: hidden;
        .dropdown-item{display: flex;font-size: 14px;}
        .text{@include text-truncate();}
        .text-sm{flex: 0 0 auto;color: #888;letter-spacing: -0.03em;font-size: 95%;}
    }
    .circle{
        display: block;width: 8px;height: 8px;border-radius: 50%;background: #ff0000;border: 1px solid $navy;position: absolute;right: 5px;top: 9px;
    }
}
@include media-breakpoint-down(md) {
    .nav-noti{
        .dropdown-menu{
            max-width: 85vw;min-width: auto;
        }
    }
}

@include media-breakpoint-down(md) {
    .content-wrapper{
        > .content-header{padding-left: 1rem;padding-right: 1rem;}
        > .content{padding-left: 0;padding-right: 0;}
    }
    .container,
    .container-fluid{padding-left: 1rem;padding-right: 1rem;}
}

.body-login {
    width: 100%;
    height: 100vh;
    background: $dark;
}

body.body-center-content{width: auto;background: #fff;}
.login-wrap{
    display: flex;justify-content: center;align-items: center;height: 100%;
}

.login-logo{
    margin-right: 200px;
    .logo{margin-bottom: 30px;}
    .icon-logo{display: block;width: 319.8px;height: 54.8px;}
    p{color: #babcca;}
}

.login-box{
    width:560px;padding:70px 80px;background: #fff;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);position: relative;z-index: 1;
}

.login-form-top{
    margin-bottom: 45px;
    h1{font-weight: 700;line-height: 1;}
    p{color: #666;}
}

.new-user{border-top: 1px solid #ddd;margin-top: 2rem;padding-top: 1.5rem;}

@include media-breakpoint-down(lg) {
    .login-logo{margin-right: 80px;}
    .login-box{width: 500px;}
}
@include media-breakpoint-down(md) {
    .login-wrap{display: block;}
    .login-logo{margin-right: 0;}
}