/* noto sans */
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 100;
	src: url(../fonts/NotoSansCJKkr-Thin.eot);
	src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.eot?#iefix) format('embedded-opentype'),
		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.woff) format('woff'),
		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Thin.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 300;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-DemiLight.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 400;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 500;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.ttf) format('truetype');
}
@font-face {
      font-family: 'Noto Sans KR';
      font-weight: 700;
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot);
      src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff) format('woff'),
            url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 900;
	src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.eot);
	src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.eot?#iefix) format('embedded-opentype'),
		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.woff) format('woff'),
		  url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Black.ttf) format('truetype');
}